* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #333;
}

header{
  display:flex;
  flex-direction: row;
  margin: 1.5%;
  justify-content:space-around;
}

main{
  display: flex;
  height: calc(150vh - 160px);
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts-tablet.svg);
  background-size: 153%;
  background-position: right 46% center;
  -webkit-box-pack: center;
  justify-content: center;
  align-content: center;
}


.topnav {
    display: flex;
    background-color: #333;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    border-radius: 0px;
    color: #68b631;
  }

.bottomnav {
    background-color: #333;
    overflow: hidden;
    margin-top: 1.28rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    padding-top: 2%;
    align-self: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}

  .coluna1{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    color:darkgray;
    font-size:20px;
  }

  .coluna2{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color:darkgray;
    font-size:20px;
  }

  .comunidades{
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    font-size:20px;
  }

  .links_uteis{
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    font-size:20px;
  }

  .redes_sociais li:hover {
    transform: scale(1.15);
  }

  .redes_sociais ul{
    display: flex;
    flex-direction: row;
  }
  
  dl {
    list-style: none;
  }

.instagram{
  display: flex;
  margin: 4%;
}

.twiter {
    display: flex;
    margin: 4%;
}

.facebook{
    display: flex;
    margin: 4%;
}

  .maintext{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: #1ed760;
    font-family: Arial, Helvetica, sans-serif;
  }

  .maintext h1{
    font-size: 150px;
    text-align: center;
  }

  .maintext h4{
    font-size: 19px;
    text-align: center;
  }

  .maintext a:hover {
    transform: scale(1.10);
  }

.iconspotify{
    display:flex; 
}

.imgspotify{
    width: 150px;
    height: 40px;
    margin: 2%;
}

.iconspotify:hover{
    transform: scale(1.10);
}

.button{
  min-width: 130px;
  height: 50px;
  color: rgb(41, 65, 171);
  font-size: 15px;
  padding: 5px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 30px;
  border: 2px solid  #1ed760;;
  background:  #1ed760;
  margin: 20px;
}

.button:hover{
    transform: scale(1.10);
}


  @media screen and (min-width:500px) and (max-width:800px)    
{
    .maintext h1{
      font-size: 100px;
      text-align: center;
    }

    .maintext h4{
      font-size: 15px;
      text-align: center;
      width: 40%;
    }

    .bottomnav {
      display: flex;
      flex-direction: column;
    }

    .coluna2 {
      margin-top: 2%;
      margin-bottom: 1%;
    }
}

@media screen and (max-width:500px)
{
    .maintext h1{
      font-size: 50px;
      text-align: center;
    }

    .maintext h4{
      font-size: 10px;
      text-align: center;
      width: 30%;
    }

    .bottomnav {
      display: flex;
      flex-direction: column;
    }

    .coluna2 {
      margin-top: 2%;
      margin-bottom: 1%;
    }
}