* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #333;
}

main{
  height: calc(150vh - 160px);
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts-tablet.svg);
  background-size: 153%;
    background-position: right 46% center;
    -webkit-box-pack: center;
    justify-content: center;
}

footer{
  padding: 80px;
  display: flex;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    align-self: flex-start;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    border-radius: 0px;
    color: #68b631;
  }

.bottomnav {
    background-color: #333;
    overflow: hidden;
    margin-top: 1.25rem;
    margin-bottom: 5rem;
    align-self: flex-end;
    display: flex;
}

  .imageback{
    align-items: center;
    margin: 0px;
    border-radius: 10px;
  }

  .forms{
    font-style:normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  .coluna1{
    font-family: Arial, Helvetica, sans-serif;
    color:darkgray;
    font-size:20px;
    text-align:left;
    padding:0px 500px;
    position: absolute;
    left: 50px;
  }

  .coluna2{
    font-family: Arial, Helvetica, sans-serif;
    color:darkgray;
    font-size:20px;
    text-align:left;
    padding:0px 500px;
    position: absolute;
    left: 300px;
  }

  .comunidades{
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    font-size:20px;
  }

  .links_uteis{
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    font-size:20px;
  }

  .redes_sociais{
    text-align: right;
    padding:0px 500px;
    position: absolute;
    left: 800px;
  }

  .redes_sociais dd:hover {
    /* background-color: #68b631; */
    border-radius: 100%;
    width: 37px;
    height: 37px;
    position: absolute;
    transform: scale(1.15);
  }

  dl {
      list-style: none;
      margin: 0;
      padding: 0;
  }

.instagram{
  position: absolute;
  top: 0;
  left: 370px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.twiter {
    position: absolute;
    top: 0;
    left: 300px;
  }

  .facebook{
    position: absolute;
    top: 0;
    left: 440px;
    width: 40px;
    height: 40px;
  }

  .maintext{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 30%;
    left: 30%;
    color: #1ed760;
    font-family: Arial, Helvetica, sans-serif;
  }

  .maintext h1{
    font-size: 150px;
    text-align: center;
  }

  .maintext h4{
    font-size: 19px;
    text-align: center;
  }

  .maintext a:hover {
    transform: scale(1.10);
  }


  @media screen and (min-width:360px) and (max-width:800px)    
{
    header div{
        width:70vw;
    }

    main img{
        width: 100%;
        margin-bottom:3vh;
    }

    maintext {
        text-align: center;
    }

    footer {
      width:70vw;
    }
}
